.ajax_forms {
  .alchemy-dialog {
    max-width: 1080px !important;
    width: 100% !important;

    .attribute_row {
      margin: 10px 0px;

      .labelfield {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
      }

      .valuefield {
        font-size: 15px;
      }

    }
  }
}

.resources-table-wrapper {
  .search_panel {
    position: fixed;
    top: 127px;
    background-color: #f7f7f7;
    z-index: 2;
    width: 100%;
    padding: 15px 0px;

  }

  .search_fields_group {
    width: 50%;

    input[type="url"],
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea,
    .select2-container,
    .mce-tinymce,
    .with-hint{
      width: 85%;
    }
    .tinymce_container {
      width: 85%;
      float: left;
    }
    .input.boolean {
      margin-left: 15%;
    }

    label {
      width: 15%;
    }
  }
}